{{ define "title-groups/list" }}
  <title>Groups</title>
{{ end }}

{{ define "header-groups/list" }}
  <h1>Groups</h1>
{{ end }}

  <table>
  <thead>
    <tr>
      <th>Group ID</th>
      <th>Name</th>
      <th>Members</th>
    </tr>
    </thead>
    <tbody>
    {{range .Groups}}
      <tr>
        <td><a href="/groups/{{ .GUID }}">{{ .GUID }}</a></td>
        <td>{{ .DisplayName }}</td>
        <td>
        <ul>
        {{range .Members }}
          <li><a href="/users/{{ .Value }}">{{ .Value }}<a></li>{{end}}
        </ul>
        </td>
    </tr>
    {{else}}<tr><td colspan="7">No Groups Were Found</td></tr>{{end}}
    <tbody>
  </table>
