{{ define "title-zones/list" }}
  <title>UAA Server Info</title>
{{ end }}

{{ define "header-zones/list" }}
  <h1>UAA Server Info</h1>
{{ end }}
</head>

  {{ if . }}
  <ul>
      <li>Version: {{ .Version }}</li>
      <li>Links: {{ .Links }}</li>
      <li>Zone Name: {{ .ZoneName }}</li>
      <li>Entity ID: {{ .EntityID }}</li>
      <li>Commit ID: <a href="https://github.com/cloudfoundry/uaa/commit/{{ .CommitID }}">{{ .CommitID }}</a></li>
      <li>IDP Definitions: {{ .IDPDefinitions }}</li>
      <li>Timestamp: {{ .Timestamp }}</li>
  </ul>
  {{else}}Unable To retrieve Server Info{{end}}

  <h2>Available Actions</h2>
  <ul>
    <li><a href="/users">List Users</a></li>
    <li><a href="/groups">List Groups</a></li>
    <li><a href="/clients">List OAuth Clients</a></li>
    <li><a href="/zones">List Identity Zones</a></li>
    <li><a href="/saml/service-providers">List SAML Service Providers</a></li>
  </ul>

