{{ define "title-identity-providers/identity-provider" }}
  <title>Identity provider</title>
{{ end }}

{{ define "header-identity-providers/identity-provider" }}
  <h1>Identity provider {{ .GUID }}</h1>
{{ end }}

<div></div>