<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Users</title>
</head>

<body>
  <h1>Users</h1>

  <table>
    <tr>
      <td>ID</td>
      <td>Active</td>
      <td>Verified</td>
      <td>External ID</td>
      <td>Username</td>
      <td>Name</td>
      <td>Origin</td>
      <td>Zone ID</td>
      <td>Emails</td>
    </tr>
    {{range .Users}}
      <tr>
        <td>{{ .GUID }}</td>
        <td>{{ .Active }}</td>
        <td>{{ .Verified }}</td>
        <td>{{ .ExternalID }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .Name.FamilyName }}, {{ .Name.GivenName }}</td>
        <td>{{ .Origin }}</td>
        <td>{{ .ZoneID }}</td>
        <td>{{ .Emails }}</td>
    </tr>
    {{else}}<tr><td colspan="7">No Users Were Found</td></tr>{{end}}
</body>
</html>
