{{ define "title-users/list" }}
  <title>Users</title>
{{ end }}

{{ define "header-users/list" }}
  <h1>Users</h1>
{{ end }}

  <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Active</th>
      <th>Verified</th>
      <th>External ID</th>
      <th>Username</th>
      <th>Name</th>
      <th>Origin</th>
      <th>Zone ID</th>
      <th>Emails</th>
    </tr>
    </thead>
    <tbody>
    {{range .Users}}
      <tr>
        <td><a href="/users/{{ .GUID }}">{{ .GUID }}</a></td>
        <td>{{ .Active }}</td>
        <td>{{ .Verified }}</td>
        <td>{{ .ExternalID }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .Name.FamilyName }}, {{ .Name.GivenName }}</td>
        <td>{{ .Origin }}</td>
        <td>{{ .ZoneID }}</td>
        <td>{{ .Emails }}</td>
    </tr>
    {{else}}<tr><td colspan="7">No Users Were Found</td></tr>{{end}}
    </tbody>
  </table>
