{{ define "title-zones/list" }}
  <title>Identity Zones</title>
{{ end }}

{{ define "header-zones/list" }}
  <h1>Identity Zones</h1>
{{ end }}

  <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Subdomain</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .Subdomain }}</td>
      <td>{{ .Description }}</td>
    </tr>
    {{else}}<tr><td colspan="4">No Zones Found</td></tr>{{end}}
  </tbody>
  </table>
