<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Identity Zones</title>
</head>

<body>
  <h1>Identity Zones</h1>
  <table>
    <tr>
      <td>ID</td><td>Name</td><td>Subdomain</td><td>Description</td>
    </tr>
  {{range .}}<tr><td>{{ .ID }}</td><td>{{ .Name }}</td><td>{{ .Subdomain }}</td><td>{{ .Description }}</td></tr>{{else}}<tr><td></td></tr>{{end}}
  </table>
</body>
</html>
