{{ define "title-clients/list" }}
  <title>OAuth Clients</title>
{{ end }}

{{ define "header-clients/list" }}
  <h1>OAuth Clients</h1>
{{ end }}


  <table>
  <thead>
    <tr>
      <th>Client ID</th>
      <th>Name</th>
      <th>Action</th>
      <th>Scope</th>
      <th>Resource IDs</th>
      <th>Authorities</th>
      <th>Authorized Grant Types</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {{range .Clients}}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Action }}</td>
        <td>{{ .Scope }}</td>
        <td>{{ .ResourceIDs }}</td>
        <td>{{ .Authorities }}</td>
        <td>{{ .AuthorizedGrantTypes }}</td>
        <td>{{ .LastModified }}</td>
    </tr>
    {{else}}<tr><td colspan="7">No Clients Were Found</td></tr>{{end}}
  </tbody>
  </table>
